:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  width: 100%;
  height: 100%;

}

*{
  padding: 0px;
  margin: 0px;
}

*{
  --color-default: #EDF1FD;
  --color-default-background: white;

  --color-text-default: #9A9AA0;
  --color-text-highlight: #0A73FF;
  --color-button-hover: #226fd3;

  --sidebar-width: 250px;
  
}

h1{
  color:var(--color-text-highlight);
}


button{
  padding: 5px;
  color: white;
  background-color: var(--color-text-highlight);
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  
}

button:hover{
  background-color: var(--color-button-hover);
}
select, textarea,
input[type=text], input[type=number]{
  background-color: transparent;
  border: 1px solid var(--color-text-default);
  padding: 10px;
  border-radius: 4px;
  outline: none;
  transition: all 150ms ease-in-out
}

select:disabled, textarea:read-only,
input[type=text]:read-only, input[type=number]:read-only{
  background-color: rgba(145, 145, 145, 0.089);
  border: 1px solid var(--color-text-default);
  padding: 10px;
  border-radius: 4px;
  outline: none;
  cursor: not-allowed;
}

select:focus, textarea:focus:not(:read-only),
input[type=text]:focus:not(:read-only), input[type=number]:focus:not(:read-only){
  box-shadow: 0px 0px 4px var(--color-text-highlight);
  border: 1px solid transparent;
}

table.custom{
  border-collapse: collapse;
}
table.custom th, table td{
  padding: 5px;
}

table.custom thead tr{
  background-color: var(--color-default);
}

table.custom tr:nth-child(even){
  background-color: var(--color-default);
}